:host {
  height: 100%;
  width: 100%;
  display: block;
}

div {
  border: 1px solid #bbb;
  box-sizing: border-box;
  height: 100%;
}
span {
  display: none;
  user-select: none;
}
.visible {
  align-items: center;
  background-color: green;
  display: flex;
  justify-content: center;
  width: 100%;

  span {
    display: inline;
    vertical-align: middle;
  }
}
