:host {
  height: 100%;
  width: 100%;
  display: block;
}

div {
  align-items: center;
  border: 1px solid #bbb;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
span {
  display: none;
  user-select: none;
}
.answered {
  background-color: green;

  span {
    display: inline;
    vertical-align: middle;
  }
}
.wrong {
  background-color: darkred;
}
