$box-background: #666;
$box-hover-background: lighten($box-background, 10);
$box-opposite-background: darken($box-background, 10);

:host {
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  height: 100%;
}

.controls {
  flex: 1;
  border-right: 2px solid #666;
}
.grid {
  box-sizing: border-box;
  display: flex;
  flex: 3;
  flex-direction: column;
  height: 100%;
  padding: 40px 80px 60px 40px;
  width: 70%;
}

.hovering {
  color: #666;
  .hover {
    color: white;
  }
}

.row {
  display: flex;
  flex: 1;

  &:hover {
    .box-number {
      background-color: $box-hover-background;
      &.center {
        background-color: $box-hover-background;
      }
    }
  }

  .box-number {
    background: $box-background;
    cursor: pointer;

    &.center {
      background-color: lighten($box-background, 6);
    }

    &.opposite-box {
      background-color: $box-opposite-background;
    }
    &.hover {
      background-color: $box-hover-background;

      // actual center block
      &:hover {
        background-color: lighten($box-background, 8);
      }
    }
  }
}

.box {
  flex: 1;
  height: 100%;
  text-align: center;
}

.row-header {
  display: table;
  height: 100%;
  width: 100%;
  .text {
    display: table-cell;
    vertical-align: middle;
  }
}
